{% extends "base.html" %}

{% block title %}Kursevi{% endblock title %}


{% block specifika %}
<!-- logo and top of page -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: LightGray;height: 90px;">
            <img am-TopLogo alt="SECUREVIEW"  src="assets/logo.png" style="margin-top: 5px; padding-left: 25px;" class="img-responsive">
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="background-color: LightGray;height: 90px;">
          </div>
        </div>
      </div>
<!-- navbar beginig -->
      <nav class="navbar  navbar-inverse">
        <div class="container">
          <button type="button" class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          >
            <span class="sr-only"> Toggle navigation</span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
          </button>

         <a class="navbar-brand" href="https://cpstat-216518.appspot.com/index.php" style="padding-left: 35px;">Kontakt</a>

             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav navbar-right">
               <li><a href="https://cpstat-216518.appspot.com/">Početna</a> </li>
               <li> <a href="https://cpstat-216518.appspot.com/O_nama">O nama</a> </li>
               <li> <a href="https://cpstat-216518.appspot.com/Lokacije">Lokacije</a> </li>
               <li> <a href="https://cpstat-216518.appspot.com/Cenovnik">Cenovnik</a> </li>
               <li> <a href="https://cpstat-216518.appspot.com/Konsultacije">Konsultacije</a> </li>
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usluge <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="https://cpstat-216518.appspot.com/Statisticka_analiza_podataka">Statističke analize podataka</a></li>
                    <li><a href="https://cpstat-216518.appspot.com/Priprema_za_ispit">Priprema za ispit</a></li>
                    <li><a href="https://cpstat-216518.appspot.com/Ucenje_na_daljinu">Učenje na daljinu</a></li>
                    <li class="active"><a href="#">Kursevi</a></li>
                  </ul>
                </li>
             </ul>
             </div>
          </div>
        </nav>
<!-- navbar ending -->
<!-- text and picture middle of page beginnig -->
        <div class="container-fluid" style="background-color: #CFECEC;>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height: 370px;">
              <div class="courses">
                  <h2>Kursevi za statističke softvere:</h2>
                      <div style="padding-left: 40px;">
                         <h2>
                            <li>SPSS,</li>
                            <li>Statistica,</li>
                            <li>R (R Studio, EZR)</li>
                            <li>Stata,</li>
                            <li>Eviews,</li>
                            <li>Excel i drugi.</li>
                         </h2>
                      </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="height: 370px;">
                <img src="assets/courses.jpg" alt="learning on distance" style="margin-top: 20px; margin-left: -15px;">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: justify; height: 200px;">
                <h3>Za navedene softvere kreirali smo kurseve koji će Vam obezbediti da ovladate radom u istom kroz dizajniranje istraživanja, stukturiranje podataka, izbor adekvatnih statističkih tehnika i interpretaciju dobijenih rezultata. </h3>
                <h3>Kursevi su namenjeni akademskoj, ali i stručnoj javnosti. Održavaju se vikendom, a realizacija je delom moguća i on-line.</h3>
            </div>
        </div>
<!-- text and picture middle of page end -->
        <!-- footer beggin -->
        <div class="footerpage">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                 © 2017, <a href="https://svartwebdeveloper.000webhostapp.com/">SVART Web Developer </a>, All rights reserved
                 </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"></div>
            </div>
          </div>
        </div>
        <!-- footer end -->
{% endblock specifika %}
